/*NAVEGACION*/
#Logo img {
    width: 100%;
    height: 40px;
}

/*pop up Login*/
#ContenedorLogin h1{
    text-align: center;
}
#staticBackdropLabel{
    margin-bottom: 4rem;
}
.Login {
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    box-shadow: none;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}
#LoginFooter{
    text-align: center;
}

/*pop up LoginRegistro*/
.LoginRegistro {
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    box-shadow: none;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}
#staticBackdropLabel2{
    margin-bottom: 4rem;
}
/*pop up LoginReCup*/


/*CAROUSEL*/
#ContenedorCarousel p {
    color: black;
    font-family: "Helvetica", Sans-serif;
    font-size: 18px;
}

#ContenedorCarousel img {
    opacity: .5;
}

#ContenedorCarousel h5 {
    font-size: 28px;
    color: #FFBF00;
}

#ContenedorCarousel a {
    background-color: black;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid#FFBF00;
    text-decoration: none;
    font-size: 18px;
    color: #FFBF00;
}

#ContenedorCarousel a:hover {
    background-color: #FFBF00;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid#FFBF00;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.carousel-item {
    max-height: 20rem;
}

/*BANNER SM*/
#BannerPantallaMovil img {
    max-width: 100%;
}

/*CONTENIDO PRINCIPAL*/
#ContenedorContenidoPrincipal {
    background-color: #F2EAD3;
}

.imagenesContenido img {
    max-width: 100%;
    border: 2px solid black;
}

/*CONTENIDO FOOTER*/
#LogoFooter {
    width: 150px;
    height: 60px;
}

.TextoTituloFooter {
    color: #FFBF00;
}

#BotonCotizarFooter {
    color: #FFBF00;
    background-color: black;
    border-radius: 5px;
    border: 2px solid #FFBF00;
    padding: 5px;
}

#BotonCotizarFooter:hover {
    color: black;
    background-color: #FFBF00;
    border-radius: 5px;
    border: 2px solid #FFBF00;
    padding: 5px;
}