#Logo img {
    width: 100%;
    height: 40px;
}

/*pop up*/
.modal-header h1 {
    margin-left: 140px;
}

.modal-body input {
    border-radius: 5px;
    border: 2px solid black;
}

#dropdown-menu button:hover {
    background-color: #20262E;
}

header {
    margin-bottom: 10rem;
}
main{
    margin-bottom: 10rem;
}
body{
    background-color: #F4EEEE;
}
/*CONTENIDO FOOTER*/
#LogoFooter {
    width: 150px;
    height: 60px;
}

.TextoTituloFooter {
    color: #FFBF00;
}

#BotonCotizarFooter {
    color: #FFBF00;
    background-color: black;
    border-radius: 5px;
    border: 2px solid #FFBF00;
    padding: 5px;
}

#BotonCotizarFooter:hover {
    color: black;
    background-color: #FFBF00;
    border-radius: 5px;
    border: 2px solid #FFBF00;
    padding: 5px;
}
